<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hr.mapper.MajorChangeMapper">
	<sql id="MajorChangeColunm">
		mch_id as mch_id,
		first_kind_id as first_kind_id,
		first_kind_name as first_kind_name,
		second_kind_id as second_kind_id,
		second_kind_name as second_kind_name,
		third_kind_id as third_kind_id,
		third_kind_name as third_kind_name,
		major_kind_id as major_kind_id,
		major_kind_name as major_kind_name,
		major_id as major_id,
		major_name as major_name,
		new_first_kind_id as new_first_kind_id,
		new_first_kind_name as new_first_kind_name,
		new_second_kind_id as new_second_kind_id,
		new_second_kind_name as new_second_kind_name,
		new_third_kind_id as new_third_kind_id,
		new_third_kind_name as new_third_kind_name,
		new_major_kind_id as new_major_kind_id,
		new_major_kind_name as new_major_kind_name,
		new_major_id as new_major_id,
		human_id as human_id,
		human_name as human_name,
		salary_standard_id as salary_standard_id,
		salary_standard_name as salary_standard_name,
		salary_sum as salary_sum,
		new_salary_standard_id as new_salary_standard_id,
		new_salary_standard_name as new_salary_standard_name,
		new_salary_sum as new_salary_sum,
		change_reason as change_reason,
		check_reason as check_reason,
		check_status as check_status,
		register as register,
		checker as checker,
		regist_time as regist_time,
		check_time as check_time
	</sql>

	<insert id="insertMajorChange" parameterType="MajorChange">
		insert into major_change 
		values 
		(#{mch_id},#{first_kind_id},#{first_kind_name},#{second_kind_id},#{second_kind_name},#{third_kind_id},#{third_kind_name},
		#{major_kind_id},#{major_kind_name},#{major_id},#{major_name},#{new_first_kind_id},#{new_first_kind_name},
		#{new_second_kind_id},#{new_second_kind_name},#{new_third_kind_id},#{new_third_kind_name},#{new_major_kind_id},#{new_major_kind_name},
		#{new_major_id},#{new_major_name},#{human_id},#{human_name},#{salary_standard_id},#{salary_standard_name},
		#{salary_sum},#{new_salary_standard_id},#{new_salary_standard_name},#{new_salary_sum},#{change_reason},
		#{check_reason},#{check_status},#{register},#{checker},#{regist_time},#{check_time})
	</insert>
	
	<delete id="deleteMajorChange">
		delete from major_change where mch_id = #{id}
	</delete>
	
	<update id="updateMajorChange" parameterType="MajorChange">
		update major_change set 
		first_kind_id = #{first_kind_id},
		first_kind_name = #{first_kind_name},
		second_kind_id = #{second_kind_id},
		second_kind_name = #{second_kind_name},
		third_kind_id = #{third_kind_id},
		third_kind_name = #{third_kind_name},
		major_kind_id = #{major_kind_id},
		major_kind_name = #{major_kind_name},
		major_id = #{major_id},
		major_name = #{major_name},
		new_first_kind_id = #{new_first_kind_id},
		new_first_kind_name = #{new_first_kind_name},
		new_second_kind_id = #{new_second_kind_id},
		new_second_kind_name = #{new_second_kind_name},
		new_third_kind_id = #{new_third_kind_id},
		new_third_kind_name = #{new_third_kind_name},
		new_major_kind_id = #{new_major_kind_id},
		new_major_kind_name = #{new_major_kind_name},
		new_major_id = #{new_major_id},
		new_major_name = #{new_major_name},
		human_id = #{human_id},
		human_name = #{human_name},
		salary_standard_id = #{salary_standard_id},
		salary_standard_name = #{salary_standard_name},
		salary_sum = #{salary_sum},
		new_salary_standard_id = #{new_salary_standard_id},
		new_salary_standard_name = #{new_salary_standard_name},
		new_salary_sum = #{new_salary_sum},
		change_reason = #{change_reason},
		check_reason = #{check_reason},
		check_status = #{check_status},
		register = #{register},
		checker = #{checker},
		regist_time = #{regist_time},
		check_time = #{check_time} 
		where mch_id = #{mch_id}
	</update>

	<select id="selectMajorChangeById" parameterType="_int" resultType="MajorChange">
		select 
		<include refid="MajorChangeColunm"></include>
		from major_change where mch_id = #{id}
	</select>
	
	<select id="selectMajorChange" resultType="MajorChange">
		select 
			<include refid="MajorChangeColunm"></include>
		from major_change
	</select>
	
</mapper>