<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="hr.mapper.TrainingMapper">
  		<insert id="insertTraining" parameterType="Training">
  			insert into training(tra_id,major_kind_id,major_kind_name,major_id,
  			major_name,human_id,human_name,training_item,training_time,training_hour,training_degree,
  			register,checker,regist_time,check_time,checkstatus,remark)
  			values (#{tra_id},#{major_kind_id},#{major_kind_name},#{major_id},
  			#{major_name},#{human_id},#{human_name},#{training_item},#{training_time},
  			#{training_hour},#{training_degree},#{register},#{checker},#{regist_time},#{check_time},#{checkstatus},#{remark})
  		</insert>
  		
  		<update id="updateTraining" parameterType="Training">
  			update training set major_kind_id=#{major_kind_id},major_kind_name=#{major_kind_name},
  			major_id=#{major_id},major_name=#{major_name},human_id=#{human_id},human_name=#{human_name},training_item=#{training_item},
  			training_time=#{training_time},training_hour=#{training_hour},training_degree=#{training_degree},
  			register=#{register},checker=#{checker},regist_time=#{regist_time},check_time=#{check_time},checkstatus=#{checkstatus},remark=#{remark}
  			where tra_id=#{tra_id}
  		</update>
  		
  		<select id="selectTrainingById" resultType="Training" parameterType="_int">
  			select * from training where tra_id = #{id}
  		</select>
  		
  		<select id="getTraining" resultType="Training">
  			select * from training
  		</select>
  		
  		<delete id="deleteTrainingById" parameterType="_int">
  			delete from training where tra_id = #{id}
  		</delete>
  		
  </mapper>