<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="hr.mapper.UserMapper">
  
  	<insert id="saveUser" parameterType="User">
  		insert into users(u_id,u_name,u_true_name,u_password)
  		values(#{u_id},#{u_name},#{u_true_name},#{u_password})
  	</insert>
  	
  	<select id="selectAllUser" resultType="User">
  		select * from users
  	</select>
  	
  	<select id="selectUserByUid" parameterType="_int" resultType="User">
  		select * from users where u_id = #{u_id}
  	</select>
  	
  	<delete id="deleteUserByUid" parameterType="_int">
  		delete from users where u_id = #{u_id}
  	</delete>
  </mapper>